.firstcarousel {
  width: 100%;
  height: 500px;
  background-color: #0e2737;
  display: flex;
}

.event_pic {
  background: url("image/back5.jpg");
  background-size: cover;
  width: 50%;
}
.event_desc {
  width: 50%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
